.project_img {
  max-width: 750px;
  width: 50%;
  margin-top: 2rem;
}

.project-container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-top: 5rem;
}

.project-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.project-text {
  width: 30rem;
  padding: 0 3rem;
}

#projects {
  background-image: linear-gradient(#fafafa, #78B494);
  border-top: #fafafa;
}

.breaker {
  height: 2rem;
}

.projects_title {
  margin: 0;
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
}