.project_img {
  width: 95%;
  height: auto;
  margin-top: 5%;
}

.project-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 5rem;
}

.project-text {
  margin: 0 5rem 0;
}

#projects {
  background-image: linear-gradient(#fafafa, #78B494);
  border-top: #fafafa;
}

.breaker {
  height: 2rem;
}