#head {
  border-top: 1px solid #fafafa;
  margin-top: 0;
  height: 100vh;
  background-image: linear-gradient(#fafafa, #78B494)
}

.content {
  margin-top: 20%;
  margin-left: 10%;
}

.introduction {
  font-size: 4em;
  color: #303030;
}

#head-name {
  color: #417386;
  font-weight: 700;
}