#head {
  background-image: linear-gradient(#fafafa, #78B494)
}

.content {
  padding: 20% 10% 29%;
}

.introduction {
  font-size: 4em;
  color: #303030;
}

#head-name {
  color: #417386;
  font-weight: 700;
}

.link {
  text-decoration: none;
  color: #104052;
  font-size: 1.5rem;
}

.link:hover {
  cursor: pointer;
  font-size: 1.75em;
  text-shadow: 1px 1px #022837;
}