#about {
  border-top: 1px solid #78B494;
  background-image: linear-gradient(#78B494, #fafafa);
}

.about_container {
  display: grid;
  grid-template-columns: auto 50rem;
}

.title {
  text-align: center;
  font-size: 3em;
}

.profile {
  margin-left: 2rem;
}

.text {
  font-size: 1.5em;
  margin-right: 2em;
}

.box {
  /* border: 2px solid black; */
}